{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Users{% endblock %}</h1>
{% endblock %}



{% block content %}
  <div class="filehandler">
    <form method="POST" action="/change" enctype="multipart/form-data">
      <div class="filehandler-label">
        Välj fil att hantera
      </div>

      <select name="file">
        <option value="0">Välj fil</option>

        {% for upload in uploads %}
          <option  value="{{ upload['id'] }}" {% if upload['id'] == g.user['current_file']: %}  selected {% endif %}>
            {{ upload['filename']|safe }}
          </option>
        {% endfor %}
      </select>

      <input type="submit" name="submit" value="Välj fil">
    </form>

    <form method="POST" action="/upload" enctype="multipart/form-data">
      <div class="filehandler-label">
        Ladda upp ny fil
      </div>

      <input type="file" name="file">
      <input type="submit" name="submit" value="Ladda upp">
    </form>
  </div>

  {% if filemeta %}
    <div class="current-file">
      <ul class="inline-list">
        <li>
          <b>ID:</b>
          {{ filemeta['id'] }}
        </li>
        <li>
          <b>Uppladdad:</b>
          {{ filemeta['upload_date'] }}
        </li>
        <li>
          <b>Uppladdad av:</b>
          {{ get_user_name(filemeta['uploaded_by']) }}
        </li>
        <li>
          <a href="{{ filemeta['filepath'] }}">Ladda ned</a>
        </li>
      </ul>
    </div>
  {% endif %}

  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
{% endblock %}
