<!doctype html>
<title>{% block title %}{% endblock %} - ValueCall</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<header class="header">
  <div class="container">
    <img src="{{ url_for('static', filename='img/logo_valuecall.png') }}" class="header-logo">

    <nav  class="header-nav">
      <ul class="inline-list">
        {% if g.user %}
          <li><span>{{ g.user['username'] }} </span>
          <li><a href="{{ url_for('auth.logout') }}">Logga ut</a>
        {% else %}
          <li><a href="{{ url_for('auth.register') }}">Registrera</a>
          <li><a href="{{ url_for('auth.login') }}">Logga in</a>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>

<section class="content">
  {% if g.user %}
    <nav class="subnav">
      <div class="container">
        <ul class="inline-list">
            <li>
              <a href="{{ url_for('perf_global.performance') }}">Performance totalt</a>
            </li>
            <li>
              <a href="{{ url_for('perf_user.user') }}">Performance mötesbokare</a>
            </li>
            <li>
              <a href="{{ url_for('file_handler.files') }}">Hantera data</a>
            </li>
        </ul>
      </div>
    {% endif %}
  </nav>
    
  <div class="container">

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}
  </div>
</section>

<footer class="footer">
  C-uppsats av Joel Gustafsson & Alexander Lindahl VT19
</footer>
